.header {
    background: url('../images/header-background.jpg') center center no-repeat;
    background-size: cover;
    height: 100vh;
  }
  .int::placeholder {
    color: white; /* Change placeholder text color to white */
}